<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
<servlet>
    <servlet-name>usrReg</servlet-name>
    <servlet-class>org.example.UserRegistration</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>usrReg</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>

</web-app>